---
layout: page
title: Program
---
<!-- <div class="select-cal-protocol">
  <div class="name">Calendar Links:</div>
  <div class="cal-protocol" id="calmode-ical"><a onclick="selectCalMode('ical'); return false;" href="#" title="Downloadable as .ics (Apple Calendar, Outlook etc)"><i class="fas fa-download" ></i>Download ICS</a></div>
  <div class="cal-protocol" id="calmode-googlecal"><a onclick="selectCalMode('googlecal'); return false;" href="#" title="Add to Google Calendar"><i class="fab fa-google" ></i>Google Calendar</a></div>
</div> -->


<!-- <div class="select-cal-protocol">
  <div class="name">Calendar Setting</div>
  <div class="cal-options">
    <span id="wrapper-ical"><input type="radio" class="cal-protocol" id="calmode-ical" onclick="selectCalMode('ical')" title="Downloadable as .ics (Apple Calendar, Outlook etc)" value="Download ICS" checked></input><label class='calendarmode' for="calmode-ical"><i class="fas fa-download" ></i>Download as ICS</label></span>
    <span id="wrapper-googlecal"><input type="radio" class="cal-protocol" id="calmode-googlecal" onclick="selectCalMode('googlecal')" href="#" title="Add to Google Calendar"></input><label class='calendarmode' for="calmode-googlecal"><i class="fab fa-google" ></i>Google Calendar</label></span>
  </div>
</div> -->
{% for day in site.main_schedule.days %}
<div id="schedule">
  <h3 class="day">{{ day.name }}: {{ day.date | date: "%B %-d" }}</h3>
  <table class="day-program">
    {% for session in day.sessions %}
      {% if session.shared %}
      <tr id="shared-{{ session.sess_id }}" onclick="toggleSharedSession('{{ session.sess_id }}')"
          class="session-row shared session-name-row shared-session-name-row">
        <td class="times session-times">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</td>
          <td class="session shared-session session-name-cell shared-name" colspan="{{ site.main_schedule.num_concurrent }}">
            <div class="session-name shared-session-name">{{ session.name }}</div>
            <div class="session-location shared-session-location">{{ session.location }}</div>
            <div class="speakers session-speakers">{{ session.speakers | join: ", " }}</div>
          </td>
      {% else %}
      <tr id="{{ session.start | date: '%Y%m%d-%H%M' }}" class="session-row shared session-name-row conc-session-name-row">
        <td class="times session-times" rowspan="4">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</td>
            <td class="conc-session-shared-name session-name-cell shared-name" colspan="{{ site.main_schedule.num_concurrent }}"><div class="session-name">{{ session.name }}</div>
            </td>
      </tr>
      <tr id="{{ session.start | date: '%Y%m%d-%H%M' }}" class="session-row session-name-row conc-session-indiv-row">
          {% for conc_sess in session.concurrent_sessions %}
            <td class="session conc-session">
              <div class="conc-session-name">{{ conc_sess.name }}</div>
            <div class="speakers session-speakers"><span class="session-chair-label">Chair:</span> {{ conc_sess.chair }}</div>
            </td>
          {% endfor %}
      </tr>
      <tr class="session-row conc-session-loc-row">
          {% for conc_sess in session.concurrent_sessions %}
            <td class="session-location conc-session-location">{{ conc_sess.location }}</td>
          {% endfor %}
      </tr>
      <tr class="session-row conc-session-details-row">
        {% for conc_sess in session.concurrent_sessions %}
          <td class="session-details">
            {% for talk in conc_sess.talks %}
              <div class="talk" id="talk-{{ talk.sess_id }}" onclick="toggleSingleTalk('{{ talk.sess_id }}');">
                <div class="times talk-time">
                  {{ talk.start | date: "%H:%M" }}
                </div>
                <div class="talk-title">{{ talk.name }}</div>
                <div class="speakers talk-speakers">{{ talk.speakers | join: ", " }}</div>
              </div>
            {% endfor %}
          </td>
        {% endfor %}
      {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
{% endfor %}

<a href="#" onclick="calendarDownloadSelectedSessions()">Download Selected as iCal files</a>

<!-- 
<button id="signin-button" onclick="googleHandleSignInClick()">Sign In</button>
<button id="signout-button" onclick="googleHandleSignOutClick()">Sign Out</button>
 --> 
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/downloads/ics.deps.min.js"></script>
<script type="text/javascript">
  var rawScheduleData = {{ site.main_schedule | jsonify }};

  var selected = new Set();

  function extractSchedulable() {
    byId = {};
    days = rawScheduleData.days;
    for (var i = 0; i < days.length; i++) {
      sessions = days[i].sessions;
      for (var j = 0; j < sessions.length; j++) {
        sess = sessions[j];
        byId[sess.sess_id] = {'shared': true, 'item': sess};
        concurrent = sess.concurrent_sessions;
        if (typeof concurrent === 'undefined') 
          continue;

        for (var k = 0; k < concurrent.length; k++) {
          talks = concurrent[k].talks;
          for (var l = 0; l < talks.length ; l++) {
            talk = talks[l];
            byId[talk.sess_id] = {'shared': false, 'item': talk}
          }
        }
      }
    }
    return byId;
  }

  var schedulable = extractSchedulable();


  function toggleSingleTalk(sessId) {
    toggleSession(sessId, 'talk-')
  }

  function toggleSharedSession(sessId) {
    toggleSession(sessId, 'shared-')
  }

  function toggleSession(sessId, domIdPrefix) {
    var elem = document.getElementById(domIdPrefix + sessId);
    if (selected.has(sessId)) {
      selected.delete(sessId);
      elem.classList.remove("selected");
    } else {
      selected.add(sessId);
      elem.classList.add("selected");
    }    
  }

  function slugify(text) {
    return text.replace(/\s+/g, '_').replace(/[^\w+]/g, '').toLowerCase();
  }
  
  function sessionDesc(sess) {
    return typeof sess.speakers === 'undefined' ? '' : sess.speakers.join(', ');
  }
  
  function sessionLoc(sess) {
    return typeof sess.location === 'undefined' ? '' : sess.location;    
  }
  

  function calendarDownloadSelectedSessions() {
    calendarDownloadByIds(Array.from(selected));
  }

  function calendarDownloadByIds(sessIds) {
    calendarDownloadSessions(sessIds.map(function(si) { 
      return schedulable[si].item; 
    }));
  }

  function calendarDownloadSessions(sessions) {
    var cal = ics('ACL18');
    for (var i = 0; i < sessions.length; ++i) {
      var sess = sessions[i];
      cal.addEvent(sess.name + " (ACL18)", sessionDesc(sess), sessionDesc(sess), sess.start, sess.end);
    }
    cal.download('ACL18');
  }
</script>
<script src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript">


  function googleUpdateSigninStatus(isSignedIn) {
    // When signin status changes, this function is called.
    // If the signin status is changed to signedIn, we make an API call.
    if (isSignedIn) {
      // makeApiCall();
    }
  }

  function googleHandleSignInClick(event) {
    // Ideally the button should only show up after gapi.client.init finishes, so that this
    // handler won't be called before OAuth is initialized.
    gapi.auth2.getAuthInstance().signIn();
  }

  function googleHandleSignOutClick(event) {
    gapi.auth2.getAuthInstance().signOut();
  }
  
  function googleInitClient() {
    // Initialize the client with API key and People API, and initialize OAuth with an
    // OAuth 2.0 client ID and scopes (space delimited string) to request access.
    gapi.client.init({
        apiKey: '{{ site.google.api_key }}',
        discoveryDocs: ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"],
        clientId: '{{ site.google.calendar_client_id }}',
        scope: 'https://www.googleapis.com/auth/calendar'
    }).then(function() {
      // Listen for sign-in state changes.
      gapi.auth2.getAuthInstance().isSignedIn.listen(googleUpdateSigninStatus);
      // Handle the initial sign-in state.
      googleUpdateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
    });
  }
  
  function gcalAddConcurrentSingleTalk(talk, location) {
      gcalAddSingle(talk.title, talk.speakers.join(', '), location, talk.start, talk.end);
  }
  
  function gcalAddSharedSession(sharedSess) {
      gcalAddSingle(sharedSess.name, sessionDesc(sharedSess), sharedSess.location, sharedSess.start, sharedSess.end);
  }
  
  function gcalAddMultipleTalks(concSess) {
    var talks = concSess.talks;
    for (var i = 0; i < talks.length; ++i) {
      var talk = talks[i];
      gcalAddSingle(talk.title + " (ACL18)", talk.speakers.join(', '), concSess.location, talk.start, talk.end);
    }
  }
  
  
  function fixDate(rawDateString) {
    return rawDateString.replace(/(\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}:\d{2}) ([+-]\d+)/, '$1T$2$3');
  }
  
  function gcalAddSingle(name, description, location, start, end) {
    var event = {
      'summary': name + " (ACL18)",
      'location': location,
      'description': description,
      'start': {'dateTime': fixDate(start)},
      'end': {'dateTime': fixDate(end)},
      'reminders': {}
    };

    var request = gapi.client.calendar.events.insert({
      'calendarId': 'primary',
      'resource': event
    });
    
    request.execute(function() {
      console.log("added event " + name);
    })
  }
  
  gapi.load('client:auth2', googleInitClient);
</script>
<!--   
<script type="text/javascript">
  var KNOWN_CAL_MODES = ['ical', 'googlecal'];  
  var CAL_MODE;

  function initCalMode() {
    selectCalMode('ical');
  }

  function syncCalMode() {
    var schedule = document.getElementById('schedule');
    for (var i = 0; i < KNOWN_CAL_MODES.length; ++i) {
      var mode = KNOWN_CAL_MODES[i];
      var toShow = mode === CAL_MODE;
      var matchingLinks = schedule.getElementsByClassName(['cal-link ' + mode]);
      for (var j = 0; j < matchingLinks.length; ++j) {
        var elem = matchingLinks[j];
        elem.hidden = !toShow;
      }
      document.getElementById('calmode-' + mode).checked = toShow;
      
      var selector = document.getElementById('wrapper-' + mode);
      selector.checked = toShow;
      if (toShow) {
        selector.classList.add('selected');
      } else {
        selector.classList.remove('selected');
      }
    }
  }
  
  
  function selectCalMode(className) {
    CAL_MODE = className;
    syncCalMode();
  }
  
  initCalMode();
  
</script> -->

<!--
  {{ site.main_schedule | jsonify }}
-->
