---
layout: page
title: Program
---


{% for day in site.data.program.days %}    
  <h3 class="day">{{ day.name }}: {{ day.date | date: "%B %-d" }}</h3>
  <table class="day-program">
    {% for session in day.sessions %}
      {% if session.shared %}
      <tr id="{{ session.start | date: '%Y%m%d-%H%M' }}" class="session-row shared session-name-row shared-session-name-row">
        <td class="times session-times">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</td>
          <td class="session shared-session session-name-cell shared-name" colspan="{{ site.data.program.num_concurrent }}">
            <div class="session-name shared-session-name"><a class="cal-link ical" href='javascript:calendarDownloadSharedSession({{ session | jsonify }})'><i class="fas fa-calendar-alt"></i><a class="cal-link googlecal" href='javascript:gcalAddSharedSession({{ session | jsonify }})'><i class="fas fa-calendar-plus"></i></a>{{ session.name }}</div>
            <div class="session-location shared-session-location">{{ session.location }}</div>
            <div class="speakers session-speakers">{{ session.speakers | join: ", " }}</div>
          </td>
      {% else %}
      <tr id="{{ session.start | date: '%Y%m%d-%H%M' }}" class="session-row shared session-name-row conc-session-name-row">
        <td class="times session-times" rowspan="4">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</td>
            <td class="conc-session-shared-name session-name-cell shared-name" colspan="{{ site.data.program.num_concurrent }}"><div class="session-name">{{ session.name }}</div>
            </td>
      </tr>
      <tr id="{{ session.start | date: '%Y%m%d-%H%M' }}" class="session-row session-name-row conc-session-indiv-row">
          {% for conc_sess in session.concurrent_sessions %}
            <td class="session conc-session">
              <div class="conc-session-name"><a class="cal-link ical" href='javascript:calendarDownloadMultipleTalks({{ conc_sess | jsonify }})'><i class="fas fa-calendar-alt"></i><a class="cal-link googlecal" href='javascript:gcalAddMultipleTalks({{ conc_sess | jsonify }})'><i class="fas fa-calendar-plus"></i></a></a>{{ conc_sess.name }}</div>
            </td>
          {% endfor %}
      </tr>
      <tr class="session-row conc-session-loc-row">
          {% for conc_sess in session.concurrent_sessions %}
            <td class="session-location conc-session-location">{{ conc_sess.location }}</td>
          {% endfor %}
      </tr>
      <tr class="session-row conc-session-details-row">
        {% for conc_sess in session.concurrent_sessions %}
          <td class="session-details">
            {% for talk in conc_sess.talks %}
              <div class="talk">
                <div class="times talk-time">
                  {{ talk.start | date: "%H:%M" }}
                </div>
                <div class="talk-title"><a class="cal-link ical" href='javascript:calendarDownloadConcurrentSingleTalk({{ talk | jsonify }}, "{{ conc_sess.location }}")'><i class="fas fa-calendar-alt"></i></a><a class="cal-link googlecal" href='javascript:gcalAddConcurrentSingleTalk({{ talk | jsonify }}, "{{ conc_sess.location }}")'><i class="fas fa-calendar-plus"></i></a>{{ talk.title }}</div>
                <div class="speakers talk-speakers">{{ talk.speakers | join: ", " }}</div>
              </div>
            {% endfor %}
          </td>
        {% endfor %}
      {% endif %}
      </tr>
    {% endfor %}
  </table>
  <button id="signin-button" onclick="googleHandleSignInClick()">Sign In</button>
  <button id="signout-button" onclick="googleHandleSignOutClick()">Sign Out</button>
  
{% endfor %}
  

<script type="text/javascript" src="{{ site.github.url }}/downloads/ics.deps.min.js"></script>
<script type="text/javascript">
  function slugify(text) {
    return text.replace(/\s+/g, '_').replace(/[^\w+]/g, '').toLowerCase();
  }
  
  function calendarDownloadSharedSession(sharedSess) {
    calendarDownloadSingle(sharedSess.name, sharedSess.speakers.join(', '), sharedSess.location, sharedSess.start, sharedSess.end);
  }
  
  function calendarDownloadConcurrentSingleTalk(talk, location) {
    calendarDownloadSingle(talk.title, talk.speakers.join(', '), location, talk.start, talk.end);
  }
  
  function calendarDownloadMultipleTalks(concSess) {
    var nameSlug = slugify(concSess.name);
    var cal = ics(nameSlug);
    var talks = concSess.talks;
    for (var i = 0; i < talks.length; ++i) {
      var talk = talks[i];
      cal.addEvent(talk.title + " (ACL18)", talk.speakers.join(', '), concSess.location, talk.start, talk.end);
    }
    cal.download('ACL18-' + nameSlug);
  }
  
  function calendarDownloadSingle(name, description, location, start, end) {
    var nameSlug = slugify(name);
    var cal = ics(nameSlug);
    cal.addEvent(name + " (ACL18)", description, location, start, end);
    cal.download('ACL18-' + nameSlug);
  };
</script>
<script src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript">


  function googleUpdateSigninStatus(isSignedIn) {
    // When signin status changes, this function is called.
    // If the signin status is changed to signedIn, we make an API call.
    if (isSignedIn) {
      // makeApiCall();
    }
  }

  function googleHandleSignInClick(event) {
    // Ideally the button should only show up after gapi.client.init finishes, so that this
    // handler won't be called before OAuth is initialized.
    gapi.auth2.getAuthInstance().signIn();
  }

  function googleHandleSignOutClick(event) {
    gapi.auth2.getAuthInstance().signOut();
  }
  
  function googleInitClient() {
    // Initialize the client with API key and People API, and initialize OAuth with an
    // OAuth 2.0 client ID and scopes (space delimited string) to request access.
    gapi.client.init({
        apiKey: '{{ site.google.api_key }}',
        discoveryDocs: ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"],
        clientId: '{{ site.google.calendar_client_id }}',
        scope: 'https://www.googleapis.com/auth/calendar'
    }).then(function() {
      // Listen for sign-in state changes.
      gapi.auth2.getAuthInstance().isSignedIn.listen(googleUpdateSigninStatus);
      // Handle the initial sign-in state.
      googleUpdateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
    });
  }
  
  function gcalAddConcurrentSingleTalk(talk, location) {
      gcalAddSingle(talk.title, talk.speakers.join(', '), location, talk.start, talk.end);
  }
  
  function gcalAddSharedSession(sharedSess) {
      gcalAddSingle(sharedSess.name, sharedSess.speakers.join(', '), sharedSess.location, sharedSess.start, sharedSess.end);
  }
  
  function gcalAddMultipleTalks(concSess) {
    var talks = concSess.talks;
    for (var i = 0; i < talks.length; ++i) {
      var talk = talks[i];
      gcalAddSingle(talk.title + " (ACL18)", talk.speakers.join(', '), concSess.location, talk.start, talk.end);
    }
  }
  
  
  function fixDate(rawDateString) {
    return rawDateString.replace(/(\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}:\d{2}) ([+-]\d+)/, '$1T$2$3');
  }
  
  function gcalAddSingle(name, description, location, start, end) {
    var event = {
      'summary': name + " (ACL18)",
      'location': location,
      'description': description,
      'start': {'dateTime': fixDate(start)},
      'end': {'dateTime': fixDate(end)},
      'reminders': {}
    };

    var request = gapi.client.calendar.events.insert({
      'calendarId': 'primary',
      'resource': event
    });
    
    request.execute(function() {
      console.log("added event " + name);
    })
  }
  
  gapi.load('client:auth2', googleInitClient);
</script>
