---
layout: page
title: Tutorials
---

<p>Tutorials will be held on July 15th, 2018. All tutorials will run for a half-day at the times noted below</p>

{% assign tutorials = site.data.tutorials | sort: 'id' %}
{% for tute in tutorials %}
{% capture tute_id %}{{ tute.title | truncate:30 | slugify }}{% endcapture %}
{% capture tute_info_id %}info_{{ tute_id }}{% endcapture %}

<a class="tute-title" onclick="javascript:toggleDisplay('{{ tute_info_id }}', 'tute-details')" href="#{{ tute_id }}"><h3 id="{{ tute_id }}" title="{{ tute.description | normalize_whitespace }}">{{ tute.id }}: {{ tute.title }}</h3></a>

<div class="tutorial-presenters">{{ tute.presenters | markdownify }}</div>

<div class="tutorial-time">{% if tute.time == 'morning' %}09:00 – 12:30{% else %}13:30 – 17:00{% endif %}</div>

<div class="tutorial-location">Location: {{ tute.location }}</div>

<div id="{{ tute_info_id }}" class="tute-details" style="display: none;">

    <p>{{ tute.description | markdownify }}</p>

    {% if tute.materials %}<div class="further-info"><a href="{{ tute.materials }}" target="_blank" title="Additional Information about '{{ tute.title }}' (opens in external site)">Further Information</a></div>{% endif %}
</div>

{% endfor %}

<script type="text/javascript">
    function showFromHash() {
        if (document.location.hash) {
            toggleDisplay('info_' + document.location.hash.slice(1), 'tute-details');
        }        
    }
	document.addEventListener("DOMContentLoaded", function(event) {showFromHash(); });
</script>