<footer class="pre-site-footer">
	<div class="footer-policy">
		<a href="https://www.aclweb.org/adminwiki/index.php?title=Anti-Harassment_Policy">ACL Anti-Harassment Policy</a>
	</div>
</footer>
<footer class="site-footer" id="footer-main">
	<nav class="footer-wrapper">
		<ul class="footer-links">
			<li>
				<a href="https://instagram.com/aclnlp" target="_blank" title="Follow @aclnlp on Instagram"><i class="icon fab fa-instagram"></i><span class="social-text">Instagram</span></a>
			</li>
			<li>
				<a href="https://twitter.com/acl2018" target="_blank" title="Follow @acl2018 on Twitter– post with #ACL2018 #NLProc"><i class="icon fab fa-twitter-square"></i><span class="social-text">Twitter</span></a>
			</li>
			<li>
				<a href="https://facebook.com/acl2018" target="_blank" title="acl2018 on Facebook"><i class="icon fab fa-facebook-square"></i><span class="social-text">Facebook</span></a>
			</li>
			<li>
				<a href="{{ site.github.url }}/feed.xml" title="Atom Feed"><i class="icon fas fa-rss-square"></i><span class="social-text">Atom Feed</span></a>
			</li>
			<li>
				<a href="{{ site.github.url }}/" title="ACL 2018 Home"><i class="icon fas fa-home"></i><span class="social-text">ACL 2018</span></a>
			</li>			
		</ul>
	</nav>
</footer>
