<footer class="site-footer">
	<div class="footer-wrapper">
		<ul class="footer-links">
			<li>
				<a href="https://instagram.com/aclnlp" target="_blank" title="Follow @aclnlp"><i class="icon fab fa-instagram"></i>Instagram</a>
			</li>
			<li>
				<a href="https://twitter.com/acl2018" target="_blank" title="Follow @acl2018 – post with #ACL2018 #NLProc"><i class="icon fab fa-twitter-square"></i>Twitter</a>
			</li>
			<li>
				<a href="https://facebook.com/acl2018" target="_blank"><i class="icon fab fa-facebook-square"></i>Facebook</a>
			</li>
			<li>
				<a href="{{ site.github.url }}/feed.xml"><i class="icon fas fa-rss-square"></i>Atom Feed</a>
			</li>
			<li>
				<a href="{{ site.github.url }}/"><i class="icon fas fa-home"></i>ACL 2018</a>
			</li>			
		</ul>
	</div>
</footer>
