<div class="site-nav-wrapper">
  <div class="org-logo">
    <a href="http://aclweb.org" title="Association for Computational Linguistics"><img src="{{ '/images/acl-logo.png' | prepend: site.github.url }}" alt="ACL"></a>
  </div>
  <nav class="site-nav">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.github.url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
  </nav>
</div>

<header class="site-header">
  <div class="banner" role="banner">
    <div class="wrapper">
      <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      <div class="site-sub-title-wrapper"><div class="site-sub-title">
        <div class="sub-title-main">{{ site.description | escape }}</div>
        <div class="sub-title-extra">July 2018&nbsp;&nbsp;&nbsp;Melbourne</div>
      </div>
    </div>
  </div>

</header>
