---
title: Schedule
nav_title: Schedule
top_nav_category: Programme
tab_index: 2
---
<h3>Overview</h3>

<table class="overview-schedule" id="overview">
  <tr class="overview-row">
    {% for day in site.data.overview_days %}
    <td class="day-wrapper">
      <table class="overview-day">
        <thead>
        <tr><th title="{{ day.details }}" class="day-subtitle">{{ day.subtitle }}</th></tr>
        <tr><th title="{{ day.details }}" class="day-name">{{ day.name }}</th></tr>
        </thead>
        {% for item in day.items %}
        <tr style="height: {{ item.length | times: 35 }}px !important" class="overview-item">
          <td>
          {% if item.name %}
          <div class="start-time">{{ item.start_time }}</div>
          <div class="item-name">
            {% if item.id_suff %}
              <a href="#{{ day.id_pref }}{{ item.id_suff }}">{{ item.name }}</a>
            {% elsif item.link %}
              <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
            {% else %}{{ item.name }}
            {% endif %}
          </div>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </td>
    {% endfor %}
  </tr>
</table>

<p class="extra-note">Conference days include system demonstration posters and <a target="_blank" href="https://sites.google.com/view/aclsrw2018/home">Student Research Workshop</a></p>

<div id="search-pane"><i class="fas fa-search"></i><input type="search" placeholder="Filter by author, title or topic" id="search" ></div>
<style id="search_style"></style>
<style id="parent_search_style"></style>
<style id="aux_search_style"></style>

<h3>Details</h3>

<div class="instructions">
  <p>Posters for the Student Research Workshop and System Demonstrations run concurrently with main conference poster sessions. Please note that additional <a href="/registration">registration</a> is required for workshops and tutorials.</p>
  <p>Hover over each entry to find out author and abstract information. You can use the search box to filter by author name, title, session topic or TACL papers (enter 'tacl'). Click on an entry to add it to your schedule; once you have selected your preferred sessions, you can download all as a .ics at the bottom of the page, which can be imported into Outlook, macOS Calendar and Google Calendar. If you use a relatively modern browser, your selected sessions should also be saved in the browser. ‘▶︎’ denotes current session ‘★’ denotes a selected session. To get a shareable link to an entry, right-click on the <i class="fas fa-link"></i> icon and copy the link. You can generally click a paper title for further information, but note that some TACL papers are not yet published, so the click-through link may fail.</p>
</div>

<div id="schedule">
{% for day in site.main_schedule.days %}
<div id="day_{{ forloop.index }}" class="day-schedule">
  <h4 class="day">{{ day.name }}: {{ day.date | date: "%B %-d" }}</h3>
  <table class="day-program">
    {% for session in day.sessions %}
      {% if session.shared %}
      <tr id="session-{{ session.sess_id }}" onclick="toggleSession('{{ session.sess_id }}')"
          class="session-row shared session-name-row shared-session-name-row">
          <td class="session shared-session session-name-cell shared-name bookable" colspan="{{ site.main_schedule.num_concurrent }}">
            <div class="times-and-name">
              <div class="session-times">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</div>
              <div class="session-name shared-session-name">{{ session.name }}</div>
            </div>
            <div class="session-location shared-session-location">{{ session.location }}</div>
            <div class="speakers session-speakers">{{ session.speakers | join: ", " }}</div>
          </td>
        </tr>
      {% else %}
        {% if session.is_posters %}
          {% capture onclick %}onclick="toggleSession('{{ session.sess_id }}')"{% endcapture %}
          {% assign extra_class = "bookable" %}
        {% else %}
          {% assign onclick = '' %}
          {% assign extra_class = "non-bookable" %}
        {% endif %}
        <tr id="session-{{ session.sess_id }}" {{ onclick }} class="session-row shared session-name-row conc-session-name-row">
            <td class="conc-session-shared-name session-name-cell shared-name {{ extra_class }}" colspan="{{ site.main_schedule.num_concurrent }}">
              <div class="times-and-name">
                <div class="session-times">{{ session.start | date: "%H:%M" }}–{{ session.end | date: "%H:%M" }}</div>
                <div class="session-name">{{ session.name }}<span class="session-suffix">{{ session.suffix }}</span>
                </div>
              </div>
            </td>
        </tr>

        {% if session.is_posters %}
          <tr class="poster-session-row">
            <td colspan="{{ site.main_schedule.num_concurrent }}" class="poster-session-top">        
              {% for conc_sess in session.concurrent_sessions %}
                {% assign data_index = "" %}
                {% for talk in conc_sess.posters %}
                  {% capture data_index %}{{ data_index }}{{ talk.id }} {{ talk.speakers | join: ', ' | downcase }} {{ talk.name | downcase }} {{ conc_sess.name | downcase }}{% endcapture %}
                {% endfor %}
                <div class="poster-sub-session">
                  <div class="poster-session-name searchable" data-index="{{ data_index }}">{{ conc_sess.name }}</div>
                {% for talk in conc_sess.posters %}
                  <span class="poster-name searchable" id="paper-{{ talk.id | slugify }}" 
                    data-index="{{ talk.id }} {{ talk.speakers | join: '; ' | downcase }} {{ talk.name | downcase }} {{ conc_sess.name | downcase }} {% if talk.is_tacl %}tacl{% endif %}"
                    title="{{ talk.speakers | join: '; ' }}. ABSTRACT: {{ talk.abstract }}">
                    <a class="hashlink" href="{{ page.url }}#paper-{{ talk.id | slugify }}"><i class="fas fa-link"></i></a>                    
                    {% if talk.is_tacl %}
                      <a href="https://www.transacl.org/ojs/index.php/tacl/article/view/{{ talk.tacl_id }}" title="view '{{ talk.name }}' on TransACL site if it is already published"><div class="badge tacl-badge"></div> {{ talk.name }} <i class="fas fa-external-link-square-alt"></i></a>
                    {% elsif talk.poster %}
                      <a href="/paper/{{ talk.id | slugify }}">{{ talk.name }}</a>
                    {% comment %}
                    {% elsif talk.is_tute %}
                      <a href="/tutorials/#{{ talk.name | slugify | slice: 0, 27 }}">{{ talk.name }}</a>
                    {% endcomment %}
                    {% endif %}
                  </span>
                {% endfor %}
                </div>
              {% endfor %}
            </td>
          </tr>
        {% else %}
          <tr class="session-row session-name-row conc-session-indiv-row">
            {% for conc_sess in session.concurrent_sessions %}
              {% assign data_index = "" %}
              {% for talk in conc_sess.talks %}
                {% capture data_index %}{{ data_index }} {{ talk.id }} {{ talk.speakers | join: ', ' | downcase }} {{ talk.name | downcase }} {{ conc_sess.name | downcase }}{% endcapture %}
              {% endfor %}
              <td class="session conc-session" data-index="{{ data_index }}">
              <div class="conc-session-name">{{ conc_sess.name }}</div>
              <div class="speakers session-speakers">{% if conc_sess.chair %}<span class="session-chair-label">Chair:</span> {{ conc_sess.chair }}{% endif %}</div>
              </td>
            {% endfor %}
          </tr>
          <tr class="session-row conc-session-loc-row">
              {% for conc_sess in session.concurrent_sessions %}
                <td class="session-location conc-session-location">{{ conc_sess.location }}</td>
              {% endfor %}
          </tr>
          <tr class="session-row conc-session-details-row">
            {% for conc_sess in session.concurrent_sessions %}
              <td class="session-details talk-sessions">
                {% for talk in conc_sess.talks %}
                  <div class="talk searchable" id="session-{{ talk.sess_id }}" 
                      data-index="{{ talk.id }} {{ talk.speakers | join: '; ' | downcase }} {{ talk.name | downcase }} {{ conc_sess.name | downcase }} {% if talk.is_tacl %}tacl{% endif %}" 
                      onclick="toggleSession('{{ talk.sess_id }}');"
                      title="{{ talk.speakers | join: '; ' }}. ABSTRACT: {{ talk.abstract }}">
                    <div class="times talk-time">
                      {{ talk.start | date: "%H:%M" }}
                    </div>
                    <div class="talk-title" id="paper-{{ talk.id | slugify }}">
                      <a class="hashlink" onclick="event.stopPropagation()" href="{{ page.url }}#paper-{{ talk.id | slugify }}"><i class="fas fa-link"></i></a>
                      {% if talk.is_tacl %}
                        <a onclick="event.stopPropagation()" href="https://www.transacl.org/ojs/index.php/tacl/article/view/{{ talk.tacl_id }}" title="view '{{ talk.name }}' on TransACL site if it is already published"><div class="badge tacl-badge"></div> {{ talk.name }} <i class="fas fa-external-link-square-alt"></i></a>
                      {% else %}
                        <a onclick="event.stopPropagation()" href="/paper/{{ talk.id | slugify }}">{{ talk.name }}</a>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </td>
            {% endfor %}
          </tr>
        {% endif %} <!-- posters/talks -->
      {% endif %} <!-- shared/parallel -->
    {% endfor %} <!-- sessions -->
  </table>
</div>
{% endfor %} <!-- days -->

</div>

<div class="calendar-sync">
  <ul>
    <li><a href="#" onclick="calendarDownloadSelectedSessions(); return false;"><i class="fas fa-download"></i>&nbsp;Download Selected as iCal files</a></li>
  </ul>
  <button onclick="clearSessions();">Clear All</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/idb-keyval@3/dist/idb-keyval-iife.min.js"></script>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/downloads/ics.deps.min.js"></script>
<script type="text/javascript">
  var rawScheduleData = {{ site.main_schedule | jsonify }};

  var selected = new Set();
  var selectedIdb = new idbKeyval.Store('sel-conf-sessions', 'sel-conf-sessions');

  function extractSchedulable() {
    var byId = {};
    var days = rawScheduleData.days;
    for (var i = 0; i < days.length; i++) {
      sessions = days[i].sessions;
      for (var j = 0; j < sessions.length; j++) {
        var sess = sessions[j];
        byId[sess.sess_id] = {'shared': true, 'item': sess};
        var concurrent = sess.concurrent_sessions;
        if (typeof concurrent === 'undefined') 
          continue;

        for (var k = 0; k < concurrent.length; k++) {
          var talks = concurrent[k].talks;
          if (typeof talks === 'undefined')
            continue;
          for (var l = 0; l < talks.length ; l++) {
            var talk = talks[l];
            talk.location = concurrent[k].location;
            byId[talk.sess_id] = {'shared': false, 'item': talk}
          }
        }
      }
    }
    return byId;
  }

  var schedulable = extractSchedulable();

  function toggleSession(sessId) {
    var elem = document.getElementById('session-' + sessId);
    idbKeyval.get(sessId, selectedIdb).then(function(value) {
      if (value) {
        idbKeyval.del(sessId, selectedIdb);
        elem.classList.remove("selected");
      } else {
        idbKeyval.set(sessId, true, selectedIdb);
        elem.classList.add("selected");
      }
    });  
  }

  function doSessionSyncFromStored() {
    idbKeyval.keys(selectedIdb).then(function(keys) {
      syncSessionsInDomFromStored(keys);
    });
  }

  function syncSessionsInDomFromStored(selectedSessKeys) {
    Array.from(document.getElementsByClassName("selected")).forEach(function(e) {
      e.classList.remove("selected");
    });
    selectedSessKeys.forEach(function(k) {
      var elem = document.getElementById('session-' + k);
      elem.classList.add("selected");      
    });
  }

  function clearSessions() {
    idbKeyval.keys(selectedIdb).then(function(keys) {
      keys.forEach(function(k) {
        idbKeyval.del(k, selectedIdb);
      });
      doSessionSyncFromStored();
    });
  }

  function slugify(text) {
    return text.replace(/\s+/g, '_').replace(/[^\w+]/g, '').toLowerCase();
  }
  
  function sessionDesc(sess) {
    return typeof sess.speakers === 'undefined' ? '' : sess.speakers.join(', ');
  }
  
  function sessionLoc(sess) {
    return typeof sess.location === 'undefined' ? '' : sess.location;    
  }
  

  function calendarDownloadSelectedSessions() {
    idbKeyval.keys(selectedIdb).then(function(sel) {
      calendarDownloadByIds(sel);
    });
  }

  function calendarDownloadByIds(sessIds) {
    var sessions = sessIds.map(function(si) { 
      return schedulable[si].item; 
    });
    calendarDownloadSessions(sessions);
  }

  function fixDate(orig) {
    return orig.replace(/ [+-]/, "+");
  }

  function stripTz(orig) {
    return orig.replace(/ [+-]\d+$/, "");
  }

  function calendarDownloadSessions(sessions) {
    var cal = ics('ACL18');
    for (var i = 0; i < sessions.length; ++i) {
      var sess = sessions[i];
      // ics.js no handling UTC well - go for naive objects
      cal.addEvent(sess.name + " (ACL18)", sessionDesc(sess), sessionLoc(sess), stripTz(sess.start), stripTz(sess.end));
    }
    cal.download('ACL18');
  }
</script>
<script type="text/javascript">
  
  function fixDate(rawDateString) {
    return rawDateString.replace(/(\d{4}-\d{2}-\d{2}) (\d{2}:\d{2}:\d{2}) ([+-]\d+)/, '$1T$2$3');
  }

  function getIcalUid(sess_id) {
    return sess_id + "@" + location.hostname + ":" + location.port;
  }
  
  
</script>
<script type="text/javascript">
var searchStyle = document.getElementById('search_style');
var auxSearchStyle = document.getElementById('aux_search_style');
document.getElementById('search').addEventListener('input', function() {
  if (!this.value) {
    searchStyle.innerHTML = "";
    auxSearchStyle.innerHTML = "";
    return;
  }
  searchStyle.innerHTML = ".searchable:not([data-index*=\"" + this.value.toLowerCase() + "\"]) { display: none; }  ";
  searchStyle.innerHTML += ".conc-session:not([data-index*=\"" + this.value.toLowerCase() + "\"]) { visibility: hidden; font-size: 0px; }";
  auxSearchStyle.innerHTML = ".shared-name { opacity: 0.5; }"
});
</script>
<script type="text/javascript">
function highlightHash() {
  var elems = document.querySelectorAll(".hash-highlighted");
  [].forEach.call(elems, function(el) {
      el.className = el.className.replace(/\bhash-highlighted\b/, "");
  });  
  if (!document.location.hash)
    return;
  var hashElem = document.getElementById(document.location.hash.substr(1))
  hashElem.classList.add('hash-highlighted');
}

var nextChange = null;

function highlightCurrent() {
  var now = new Date();
  now.setMinutes(now.getMinutes() + 3);
  if (nextChange != null && now < nextChange) {
    return; // short circuit to save compute
  }
  var days = rawScheduleData.days;
  document.querySelectorAll(".current").forEach(function(e) {
    e.classList.remove("current");
  });
  for (var i = 0; i < days.length; i++) {
    sessions = days[i].sessions;
    for (var j = 0; j < sessions.length; j++) {
      var sess = sessions[j];
      var concurrent = sess.concurrent_sessions;
      if (typeof concurrent === 'undefined' || sess.is_posters) {
        var start = new Date(fixDate(sess.start));
        var end = new Date(fixDate(sess.end));
        if (start <= now && now <= end) {
          var elem = document.getElementById('session-' + sess.sess_id);
          elem.classList.add('current');
          nextChange = end;
          if (!document.location.hash)
            elem.scrollIntoView();
          return;
        }
        continue;
      }

      for (var k = 0; k < concurrent.length; k++) {
        var talks = concurrent[k].talks;
        if (typeof talks === 'undefined')
          continue;
        for (var l = 0; l < talks.length ; l++) {
          var talk = talks[l];
          var start = new Date(fixDate(talk.start));
          var end = new Date(fixDate(talk.end));
          if (start <= now && now <= end) {
            var elem = document.getElementById('session-' + talk.sess_id);
            elem.classList.add('current');
            nextChange = end;
            if (!document.location.hash)
              elem.scrollIntoView();
          }
        }
      }
    }
  }
}
document.addEventListener("hashchange", function(event) { highlightHash(); });
document.addEventListener("DOMContentLoaded", function(event) { highlightHash(); });
document.addEventListener("DOMContentLoaded", function(event) { highlightCurrent(); })
document.addEventListener("DOMContentLoaded", function(event) { doSessionSyncFromStored(); });
window.setInterval(function() { highlightCurrent(); }, 60000);
</script>

