---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    980px;

$on-palm:          670px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


$top-nav-height: 40px;
$banner-height: 250px;


.site-header {
    border: none;
}

.banner {
    padding: 20px 15px;
    /* margin-bottom: 30px; */
//    height: 300px;
    margin: 5px auto;
    max-width: $content-width * 1.02;
    height: $banner-height;
    background-image: url({{ "/images/yarra-panorama.jpg" | prepend: site.github.url }});
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border: none;
}

.site-nav-wrapper, .footer-wrapper {
    max-width: $content-width - 2 * $spacing-unit;
    margin: 10px auto;
}

.site-nav-wrapper {
    max-width: $content-width - 2 * $spacing-unit;
    float: none;
    height: $top-nav-height; 
    padding: 0 $spacing-unit;
    z-index: 80;
}

.site-nav {
    line-height: $top-nav-height;
    vertical-align: middle;
    z-index: 90;
    .page-link {
        z-index: 100;
    }
    font-size: 16px;

    @media screen and (max-width: 800px) {
        font-size: 13px;
    }    

    .page-link:not(:last-child) {
        margin-right: 13px;
        @media screen and (max-width: 900px) and (min-width: 670px) {
            margin-right: 11px;
        }

    }
    .page-link {
        @include media-query($on-palm) {
            margin-right: 0px !important
        }
    }

}

.site-title {
    float: right;
    font-weight: 500;
    font-size: 50px;
    a:link, a:visited {
        color: white;
    }
}



.site-sub-title-wrapper {
    height: $banner-height;
}

.site-sub-title {
    float: left;
    vertical-align: bottom;
    color: white;
    position: absolute;
    bottom: 10px;
    .sub-title-main {
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        margin-bottom: 10px;
    }
    .sub-title-extra {
        font-size: 15px;
    }
    background-color: #424242;
    opacity: 0.75;
    padding: 10px;
}
    

.org-logo {
    float: left; 
    vertical-align: middle;
    padding-top: 5px;
    img {   
        max-height: $top-nav-height - 10px;
    }
}


.feed-link {
    text-transform: uppercase;
    a:link, a:visited {
        color: #777;
    }
    ::before {
        content: "[ ";
    }
    ::after {
        content: " ]";
    }
    
    text-align: right;
    font-size: 0.7em;
}


.date {
    font-style: italic;
}

.post-content {
    h3 {
        margin-top: 20px;
    }
}

.tutorial-presenters {
    font-style: italic;
    margin-top: 5px;
    p {
        margin-bottom: 9px;
    }
}

.further-info {
    text-transform: uppercase;
    ::before {
        content: "[ ";
    }
    ::after {
        content: " ]";
    }
    
    text-align: right;
    font-size: 0.8em;
}

.tute-details {
    display: none;
}

.page-link.active {
    font-weight: bold;
    text-color: #333;
}

.site-footer {
    background-color: #eee;
    padding: 10px 0;
}

.footer-links {
    list-style-type: none;
    text-align: right;

    li {
        display: inline;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 10px;
        margin-right: 10px;
        a:link, a:visited {
            color: #888;
            vertical-align: middle;
        }
        font-size: 0.9em;

        .icon {
            font-size: 1.3em;
            margin-right: 8px;
            vertical-align: middle;
        }
    }
}

.tutorial-presenters {
    margin-top: 0px;
}

.tute-title {
    h3 {
        margin-bottom: 5px;
    }
}

.post-content {
    td, th {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.news-archive {
    margin-left: 30px; 
    font-size: 80%;
    text-transform: uppercase;
}

.conc-session {
    width: (95%/{{ site.main_schedule.num_concurrent }}) !important;
}

.day-program td {
    vertical-align: top;
    hyphens: auto;
}

.talk-title {
    font-style: italic;
}

.talk-time {
    font-size: 0.8em;
    font-weight: bold;
}

div.talk {
    height: 10em;
    overflow: hidden;
    padding: 4px;
    margin-top: 2px;
}

table.day-program {
    font-size: 14px;

    @include media-query($on-laptop) {
        font-size: 12px;
    }
    @include media-query($on-palm) {
        font-size: 10px;
    }

    width: 100%;

}

.cal-link {
    margin-right: 5px;
}

.cal-link.small {
    margin-right: 3px;
}

.session-location {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    font-style: italic;
}

.session-name {
    font-weight: bold;
}

.conc-session-location {
    padding-bottom: 8px;
}

.bookable {
    background-color: #e8e8e8;
}

.session-details {
    padding-left: 2px;
    padding-right: 2px;
}

.session-details, .poster-session-top {
    font-size: 0.9em;
}


.select-cal-protocol {
    font-size: 13px;
    text-align: right;
    margin-bottom: 10px;
}

.selected .calendarmode {
//    background-color: #e0e0e0;
    font-weight: bold;
}

#schedule {
    clear: both;
}

.select-cal-protocol .name {
    font-size: 12px;
    text-transform: uppercase;
}

.calendarmode i {
    margin-left: 4px;
    margin-right: 4px;
}

.cal-protocol {
    margin-left: 8px;
}


@include media-query($on-palm) {
    .site-nav {
        line-height: 20px;
        margin-top: $top-nav-height + 15px;
        .page-link {
            color: white;
            line-height: 1;
        }
        right: 5px;
        background-color: #00000080;
        border: 0px;
    }

    .site-title {
        float: left;
        font-size: 40px;
        width: 50%;
    }

    .site-sub-title {
        .sub-title-main {
            font-size: 16px;
        }

        .sub-title-extra {
            font-size: 12px;
        }
    }

    .site-nav-wrapper {
        height: $top-nav-height - 10px;
    }

    .banner {
        padding: 10px 10px 50px 10px;
    }

    .image-credit {
        display: none;
    }
}

.tabs {
    a, span {
        border-radius: 6px 6px 0 0;
    }
}

.image-credit {
    // position: absolute;
    bottom: 3px;
    float: right;
    color: #ccc;
    font-size: 10px;

    a:link, a:visited, a:hover {
        color: #ccc;
        font-style: italic;
    }
    text-shadow: #222 1px 1px;
}

table.hotel-rates {
    width: 50%;

    .room-rate {
        width: 20%;
    }

    margin-bottom: 10px;
}

.sponsor-image-wrapper {
    width: 180px;
    height: 90px;
    padding: 10px;
    display: inline-block;
    text-align: center;

    .sponsor-image-helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .sponsor-image {
        max-width: 160px;
        max-height: 70px;
        vertical-align: middle;
        display: inline-block;
    }

    .sponsor-name {
        font-size: 24px;
    }
}

.sponsor-section h4 {
    background-color: lightgray;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}

.accepted-papers {
    font-size: 85%;
    .paper-title {
        font-style: italic;
    }
}


.price-list {
    text-align: right;
}


.table-contents {
    border: 1px solid #bbb;
    width: 15em;
    font-size: 85%;

    ul {
        list-style: none;
        margin: 10px;
    }

    h4 {
        color: white;
        background-color: #bbb;
        padding-left: 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.session-speakers {
    font-style: italic;
    font-size: 90%;
}

.session-chair-label {
    font-weight: bold;
}

.selected td.shared-name, .selected.talk {
    background-color: hsl(225, 100%, 75%);
}

p.speaker {
    font-style: italic;
}

.bio {
    margin: 20px 30px;
    color: #585858;
}

.speaker-pic {
    max-width: 140px;
}

.book-hotel {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: bold;
}

.tutorial-time {
    margin-top: 0px;
    font-weight: bold;
    color: #555;
}

td.conc-session, .conc-session-details-row td.session-details {
    padding-left: 2px;
    padding-right: 2px;
}

.day-program td.conc-session {
    hyphens: none;
}

.session-times, .session-name {
    display: inline-block;
}

.session-times {
    width: 7em;
}

.session-times {
    color: #555;
    font-weight: bold;
    font-style: italic;
}

.calendar-sync {
    margin-top: 20px;
    ul {
        list-style-type: none;
    }
}

.badge {
    background-color: #888;
    padding: 1px 3px;
    color: white;
    display: inline;
    font-weight: bold;
    font-size: 77%;
    font-style: normal;
}

.tacl-badge::after {
    content: "TACL";
}

.session-suffix::before {
    content: ": ";
}

#search {
    width: 20em; 
    margin-left: 5px;
    font-size: 16px;
}

#search-pane {
    float: right;
    font-size: 12px;
}

.instructions {
    font-style: italic;
    font-size: 85%;
    margin-bottom: 20px;
}

.non-bookable {
    background-color: #f2f2f2;
}

.poster .talk-title {
    margin-top: 4px;
}

.poster-scrollable {
    overflow: scroll;
    max-height: 30em;
}

.day-schedule {
    margin-top: 2em;
}

.crit-ann-text .fa-li {
    color: red;
}

.hash-highlighted {
    background-color: rgba(255, 255, 0, 0.3);
    font-weight: bold;
}

.poster-name {
    font-style: italic;
    .hashlink {
        margin-left: 5px;
    }
}

.poster-session-name {
    font-weight: bold;
    display: inline;
    margin-right: 2em;
}


.poster-sub-session {
    margin-top: 3px;
}


a.hashlink {
    font-size: 75%;

    &:link, &:active, &:visited, :hover {
        color: black;
    }
}

.times-and-name {
    display: inline-block;
}

.session-name-cell {
    .shared-session-location {
        display: none;
/*        display: inline-block; */
        float: right;
        margin-right: 20px;
        margin-top: 3px;
    }
}
